span:hover {
    cursor: pointer;
}

.active {
    background-color: #cbdce6;
}

.navbar {
    padding: 0 1rem;
}

.bg-light {
    background-color: #f1f2f3;
}

.nav-item {
    padding: 5px;
}

.nav-item:hover {
    background-color: #edeeef;
}

.nav-link {
    color: inherit;
}

.login-button {
    background-color: #F8F9FA;
    border: none;
    color: black;
}

.align-center {
    display: flex;
    justify-content: space-around;
}

.my-dropdown-button {
    background-color: #F8F9FA;
    border: none;
    color: black;
}

.my-dropdown-button:focus {
    border: none;
    box-shadow: none;
}

.my-dropdown-menu {
    padding: 0;
}

.my-dropdown-menu > * {
    border: 1px solid lightgray;
}

.modal-open {
    padding-right: 0;
}